<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <!-- Make sure the version here matches the new version in the MSI definition (SensorConnector.wxs). -->
  <?ifndef env.APP_VERSION ?>
    <?error "APP_VERSION environment variable must be defined!" ?>
  <?endif ?>
  <Bundle
      Version="$(env.APP_VERSION)"
      AboutUrl="http://sensorconnector.concord.org/"
      DisableModify="yes"
      Manufacturer="Concord Consortium, Inc."
      Name="Sensor Connector"
      UpgradeCode="38132EBB-AB18-466D-96BD-0CBBC617A018">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
          SuppressOptionsUI="yes"
          SuppressRepair="yes"
          LicenseUrl=""
          LogoFile="resources\cc-lightbulb-65.png"
          LogoSideFile="resources\cc-lightbulb-65.png"
      />
    </BootstrapperApplicationRef>
    <WixVariable Id="WixExtbaLogo" Value="" />
    <Chain>
      <MsiPackage
        ForcePerMachine="yes"
        SourceFile="dist\SensorConnector.msi" />
      <MsiPackage
        ForcePerMachine="yes"
        Permanent="yes"
        Visible="yes"
        SourceFile="resources\drivers\PASCOUSBDrivers.msi" />
      <MsiPackage
        ForcePerMachine="yes"
        Permanent="yes"
        Visible="yes"
        SourceFile="resources\drivers\VSTidi.msi" />
    </Chain>
  </Bundle>
</Wix>
