<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="96a7a5c2-df77-411b-ba25-842d7fc9f7e0" Name="SensorConnector"
             Language="1033" Version="1.0"
             Manufacturer="Concord Consortium"
             UpgradeCode="b5f2e77a-9a6a-46ca-be60-c9e181b15c63">
        <Package Description="Sensor Connector Application" Comments="None"
                 InstallerVersion="200" Compressed="yes"
                 InstallScope="perMachine"/>
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />

        <!-- We use RemoveFolderEx to ensure application folder is fully
             removed on uninstall. Including files created outside of MSI
             after application had been installed (e.g. on AU or user state).

             Hovewer, RemoveFolderEx is only available in WiX 3.6,
             we will comment it out if we running older WiX.

             RemoveFolderEx requires that we "remember" the path for uninstall.
             Read the path value and set the APPLICATIONFOLDER property with the value.
        -->
        <Property Id="APPLICATIONFOLDER">
            <RegistrySearch Key="SOFTWARE\Concord Consortium\SensorConnector"
                            Root="HKLM" Type="raw"
                            Id="APPLICATIONFOLDER_REGSEARCH" Name="Path" />
        </Property>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="CleanupMainApplicationFolder" Guid="e944efdd-3ecc-45e4-9ba2-7a1814aa0d1e">
                <RegistryValue Root="HKLM"
                                   Key="SOFTWARE\Concord Consortium\SensorConnector"
                                   Name="Path" Type="string" Value="[APPLICATIONFOLDER]"
                                   KeyPath="yes" />

                <!-- Register the ccsc: external protocol and .ccsc file type handler -->
                <RegistryKey Root="HKCR" Key=".ccsc">
                    <RegistryValue Type="string" Value="ccsc"/>
                    <RegistryValue Type="string" Name="Content Type" Value="application/vnd.concordconsortium.sensorconnector"/>
                </RegistryKey>
                <RegistryKey Root="HKCR" Key="ccsc">
                    <RegistryValue Type="string" Value="URL:ccsc Protocol Handler"/>
                    <RegistryValue Type="string" Name="URL Protocol" Value=""/>
                </RegistryKey>
                <RegistryKey Root="HKCR" Key="ccsc\DefaultIcon">
                    <RegistryValue Type="string" Value="[APPLICATIONFOLDER]SensorConnector.ico"/>
                </RegistryKey>
                <RegistryKey Root="HKCR" Key="ccsc\shell" ForceCreateOnInstall="yes" />
                <RegistryKey Root="HKCR" Key="ccsc\shell\open" ForceCreateOnInstall="yes" />
                <RegistryKey Root="HKCR" Key="ccsc\shell\open\command">
                    <RegistryValue Type="string" Value='"[APPLICATIONFOLDER]SensorConnector.exe" "%1"'/>
                </RegistryKey>
                <RegistryKey Root="HKCR" Key="MIME\Database\Content Type\application/vnd.concordconsortium.sensorconnector">
                    <RegistryValue Type="string" Value=".ccsc"/>
                </RegistryKey>
                <RegistryKey Root="HKCU" Key="Software\Classes\.ccsc">
                    <RegistryValue Type="string" Value="ccsc"/>
                    <RegistryValue Type="string" Name="Content Type" Value="application/vnd.concordconsortium.sensorconnector"/>
                </RegistryKey>
                <RegistryKey Root="HKCU" Key="Software\Classes\ccsc">
                    <RegistryValue Type="string" Value="URL:ccsc Protocol Handler"/>
                    <RegistryValue Type="string" Name="URL Protocol" Value=""/>
                </RegistryKey>
                <RegistryKey Root="HKCU" Key="Software\Classes\ccsc\DefaultIcon">
                    <RegistryValue Type="string" Value="[APPLICATIONFOLDER]SensorConnector.ico"/>
                </RegistryKey>
                <RegistryKey Root="HKCU" Key="Software\Classes\ccsc\shell" ForceCreateOnInstall="yes" />
                <RegistryKey Root="HKCU" Key="Software\Classes\ccsc\shell\open" ForceCreateOnInstall="yes" />
                <RegistryKey Root="HKCU" Key="Software\Classes\ccsc\shell\open\command">
                    <RegistryValue Type="string" Value='"[APPLICATIONFOLDER]SensorConnector.exe" "%1"'/>
                </RegistryKey>
                <RegistryKey Root="HKCU" Key="Software\Classes\MIME\Database\Content Type\application/vnd.concordconsortium.sensorconnector">
                    <RegistryValue Type="string" Value=".ccsc"/>
                </RegistryKey>

                <!-- Setup registry keys for browser plugin -->
                <File Id="filE9CB606746FBB9C634831C88DC71AD4C" Name="npSensorConnectorDetection.dll" Source="app\npSensorConnectorDetection.dll">
                    <TypeLib Id="{2D0859C8-380E-53B2-B45C-6B1E4BEAD341}" Description="SensorConnectorDetection 1.0 Type Library" HelpDirectory="APPLICATIONFOLDER" Language="0" MajorVersion="1" MinorVersion="0">
                        <AppId Description="FireBreathWin" Id="{B415CD14-B45D-4BCA-B552-B06175C38606}">
                            <Class Id="{8DB0C771-727B-5AAC-B545-61A7F03F0A39}" Context="InprocServer32" Description="A simple plugin for detecting and launching the Sensor Connector application." ThreadingModel="apartment" Version="1" Programmable="yes" Control="yes">
                                <ProgId Id="ConcordConsortium.SensorConnectorDetection.1" Description="A simple plugin for detecting and launching the Sensor Connector application.">
                                    <ProgId Id="ConcordConsortium.SensorConnectorDetection" Description="A simple plugin for detecting and launching the Sensor Connector application." />
                                </ProgId>
                            </Class>
                        </AppId>
                        <Interface Id="{39FEDAC8-E6B0-54AB-84DC-F0DEBA86D26B}" Name="IFBComJavascriptObject" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" xmlns="http://schemas.microsoft.com/wix/2006/wi" />
                        <Interface Id="{7AAD8978-1D25-5C7A-A80B-1E41ED73771F}" Name="IFBComEventSource" ProxyStubClassId32="{00020420-0000-0000-C000-000000000046}" xmlns="http://schemas.microsoft.com/wix/2006/wi" />
                        <Interface Id="{AF9284C1-793A-57FF-8315-AAE65E8A2AEB}" Name="IFBControl" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" xmlns="http://schemas.microsoft.com/wix/2006/wi" />
                    </TypeLib>
                </File>
                <ProgId Id="MIME" />
                <RegistryValue Key="AppID\npSensorConnectorDetection.dll" Value="{B415CD14-B45D-4BCA-B552-B06175C38606}" Type="string" Action="write" Name="AppID" Root="HKCR" />
                <RegistryValue Key="CLSID\{8db0c771-727b-5aac-b545-61a7f03f0a39}\MiscStatus\1" Value="131473" Type="string" Action="write" Root="HKCR" />
                <RegistryValue Key="CLSID\{8db0c771-727b-5aac-b545-61a7f03f0a39}\MiscStatus" Value="0" Type="string" Action="write" Root="HKCR" />
                <RegistryValue Key="MIME\Database\Content Type\application/vnd-concordconsortium-sensorconnector" Value="A simple plugin for detecting and launching the Sensor Connector application." Type="string" Action="write" Root="HKCR" />
                <RegistryValue Key="MIME\Database\Content Type\application/vnd-concordconsortium-sensorconnector" Value="" Type="string" Action="write" Name="Extension" Root="HKCR" />
                <RegistryValue Key="MIME\Database\Content Type\application/vnd-concordconsortium-sensorconnector" Value="{8db0c771-727b-5aac-b545-61a7f03f0a39}" Type="string" Action="write" Name="CLSID" Root="HKCR" />
                <RegistryValue Key="Software\Microsoft\Windows\CurrentVersion\Ext\PreApproved\{8db0c771-727b-5aac-b545-61a7f03f0a39}" Value="" Type="string" Action="write" Root="HKCU" />
                <RegistryValue Key="Software\Microsoft\Windows\CurrentVersion\Ext\Stats\{8db0c771-727b-5aac-b545-61a7f03f0a39}\iexplore\AllowedDomains\*" Value="" Type="string" Action="write" Root="HKCU" />
                <RegistryValue Key="Software\Microsoft\Windows\CurrentVersion\Ext\Stats\{8db0c771-727b-5aac-b545-61a7f03f0a39}\iexplore" Value="0" Type="integer" Action="write" Name="Count" Root="HKCU" />
                <RegistryValue Key="Software\MozillaPlugins\concord.org/SensorConnectorDetection" Value="[#filE9CB606746FBB9C634831C88DC71AD4C]" Type="string" Action="write" Name="Path" Root="HKCU" />
                <RegistryValue Key="Software\Microsoft\Windows\CurrentVersion\Ext\PreApproved\{8db0c771-727b-5aac-b545-61a7f03f0a39}" Value="" Type="string" Action="write" Root="HKLM" />
                <RegistryValue Key="Software\Microsoft\Windows\CurrentVersion\Ext\Stats\{8db0c771-727b-5aac-b545-61a7f03f0a39}\iexplore\AllowedDomains\*" Value="" Type="string" Action="write" Root="HKLM" />
                <RegistryValue Key="Software\Microsoft\Windows\CurrentVersion\Ext\Stats\{8db0c771-727b-5aac-b545-61a7f03f0a39}\iexplore" Value="0" Type="integer" Action="write" Name="Count" Root="HKLM" />
                <RegistryValue Key="Software\MozillaPlugins\concord.org/SensorConnectorDetection" Value="[#filE9CB606746FBB9C634831C88DC71AD4C]" Type="string" Action="write" Name="Path" Root="HKLM" />

                <!-- We need to use APPLICATIONFOLDER variable here or RemoveFolderEx
                     will not remove on "install". But only if WiX 3.6 is used. -->

                  <util:RemoveFolderEx On="uninstall" Property="APPLICATIONFOLDER" />

            </Component>
        </DirectoryRef>
        <?include bundle.wxi ?>
        <UI/>
        <Icon Id="DesktopIcon.exe" SourceFile="SensorConnector.ico" />
        <Icon Id="StartMenuIcon.exe" SourceFile="SensorConnector.ico" />
    </Product>
</Wix>
