<?xml version="1.0" encoding="windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <!-- When packaging a new installer, regenerate the product id, and
         bump the 3rd element of the version property (since windows ignored the 4th element entirely)
        Version should be synchronized with win-bundles.wxs. -->
    <Product Id="86ce53da-52cc-4b31-b8a4-96be1fd229ed" Name="SensorConnector"
             Language="1033" Codepage="1252" Version="$(env.SC_APP_VERSION)"
             Manufacturer="Concord Consortium"
             UpgradeCode="b5f2e77a-9a6a-46ca-be60-c9e181b15c63">
        <Package Description="Sensor Connector Application" Comments="None"
                 InstallerVersion="310" Compressed="yes"
                 InstallPrivileges="elevated"
                 InstallScope="perMachine"/>
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" Secure="yes" />
        <Property Id="ARPPRODUCTICON" Value="DesktopIcon.exe" />

        <MajorUpgrade
            DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

        <!-- We use RemoveFolderEx to ensure application folder is fully
             removed on uninstall. Including files created outside of MSI
             after application had been installed (e.g. on AU or user state).

             Hovewer, RemoveFolderEx is only available in WiX 3.6,
             we will comment it out if we running older WiX.

             RemoveFolderEx requires that we "remember" the path for uninstall.
             Read the path value and set the APPLICATIONFOLDER property with the value.
        -->
        <Property Id="APPLICATIONFOLDER">
            <RegistrySearch Key="SOFTWARE\Concord Consortium\SensorConnector"
                            Root="HKLM" Type="raw"
                            Id="APPLICATIONFOLDER_REGSEARCH" Name="Path" />
        </Property>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="CleanupMainApplicationFolder" Guid="e944efdd-3ecc-45e4-9ba2-7a1814aa0d1e">
                <RegistryValue Root="HKLM"
                                   Key="SOFTWARE\Concord Consortium\SensorConnector"
                                   Name="Path" Type="string" Value="[APPLICATIONFOLDER]"
                                   KeyPath="yes" />

                <!-- Register the ccsc: external protocol and .ccsc file type handler -->
                <RegistryKey Root="HKLM" Key="Software\Classes\.ccsc">
                    <RegistryValue Type="string" Value="ccsc"/>
                    <RegistryValue Type="string" Name="Content Type" Value="application/vnd-concordconsortium-sensorconnector"/>
                </RegistryKey>
                <RegistryKey Root="HKLM" Key="Software\Classes\ccsc">
                    <RegistryValue Type="string" Value="URL:ccsc Protocol Handler"/>
                    <RegistryValue Type="string" Name="URL Protocol" Value=""/>
                </RegistryKey>
                <RegistryKey Root="HKLM" Key="Software\Classes\ccsc\DefaultIcon">
                    <RegistryValue Type="string" Value="[APPLICATIONFOLDER]SensorConnector.ico"/>
                </RegistryKey>
                <RegistryKey Root="HKLM" Key="Software\Classes\ccsc\shell" ForceCreateOnInstall="yes" />
                <RegistryKey Root="HKLM" Key="Software\Classes\ccsc\shell\open" ForceCreateOnInstall="yes" />
                <RegistryKey Root="HKLM" Key="Software\Classes\ccsc\shell\open\command">
                    <RegistryValue Type="string" Value='"[APPLICATIONFOLDER]SensorConnector.exe" "%1"'/>
                </RegistryKey>
                <RegistryKey Root="HKLM" Key="Software\Classes\MIME\Database\Content Type\application/vnd-concordconsortium-sensorconnector">
                    <RegistryValue Type="string" Value=".ccsc"/>
                </RegistryKey>

                <!-- We need to use APPLICATIONFOLDER variable here or RemoveFolderEx
                     will not remove on "install". But only if WiX 3.6 is used. -->

                <util:RemoveFolderEx On="uninstall" Property="APPLICATIONFOLDER" />
            </Component>
        </DirectoryRef>
        <?include bundle.wxi ?>
        <UI/>
        <Icon Id="DesktopIcon.exe" SourceFile="SensorConnector.ico" />
        <Icon Id="StartMenuIcon.exe" SourceFile="SensorConnector.ico" />

        <CustomAction Id='InstallCert' Impersonate="no" Execute='deferred' Directory="APPLICATIONFOLDER" ExeCommand='[APPLICATIONFOLDER]app\win-install-cert.bat' Return='check' />
        <CustomAction Id='RemoveCert'  Impersonate="no" Execute='deferred' Directory="APPLICATIONFOLDER" ExeCommand='[TempFolder]win-uninstall-cert.bat' Return='check' />
        <CustomAction Id='RemoveCertPrep'  Impersonate="yes" Execute='immediate' Directory="APPLICATIONFOLDER" ExeCommand='[SystemFolder]cmd.exe /c copy "[APPLICATIONFOLDER]app\win-uninstall-cert.bat" "[TempFolder]win-uninstall-cert.bat"' Return='check' />

        <InstallExecuteSequence>
            <Custom Action='RemoveCertPrep'  After='InstallInitialize'>Installed</Custom>
            <Custom Action='RemoveCert'  After='InstallInitialize'>Installed</Custom>
            <Custom Action='InstallCert' After='InstallFiles'>UPGRADINGPRODUCTCODE OR (NOT Installed)</Custom>
        </InstallExecuteSequence>
    </Product>
</Wix>
